---
layout: base
title: Page not found
inhibit_indexifier: true
---
#content
  .row
    .span4.icon6{:style=>"line-height:340px;height:323px;text-align:center;font-size:340px;color:#9C0001"}
      %i.icon-exclamation-sign.icon-6
    .span8{:style=>"margin-top:12%"}
      %h3 Erorr, Error
      Sorry, but the page you are trying to reach has not been found. Try 
      %a{:href=>"#{site.base_url}"} returning to the top.


