---
layout: base
---
.row
  .span12
    h1 Welcome to my musings!
    p
      |
        Thanks for visiting, I'm glad you found my random musings worth 
        visiting. Obviously, based on the navigation, some parts of the site
        will be more interesting to others. Please enjoy your stay, and be
        kind to others with your comments, of course if disagree that's fine,
        but please be kind to your fellow visitors.
.row
  .span6
    h2 What this space is
    p
      |
        An unorganized list of my thoughts both as a software engineer working
        for Red Hat Inc. and also a member of the Church of Jesus Christ of 
        Latter-day Saints.
    p
      |
        There will be (hopefully) all sorts of blog posts ranging from things 
        dealing with Linux, Java and other programming, spiritual matters and 
        random posts. I will also be posting up presentations I do, which will
        for the most part be technical in nature. I don't think it will expand
        much past that, but you never know. It's all part of the journey.
  .span6
    h2 What this space is not
    p
      |
        An advertising space for Red Hat Inc. (my current employer) or other 
        companies, a fishing ground for political, technical or religious 
        debate. Nor is it a place for people to demean or belittle others.  If I 
        see that happening on the comments, you will be blacklisted.
    p
      |
        I won't be mixing topics between the different blogs, so you shouldn't 
        have to worry about that. There will be RSS feeds for the different blogs
        if you would like to follow that way. Tags may overlap with presentations, 
        technical and miscellaneous posts though.
